# This file defines how jobs should be submitted to SLURM.
# We automatically pull from the generic options
# and apply their options here.
# It is not recommended to alter this file!

---
batch_connect:
  <%- if is_vnc == 'true' -%>
  template: "vnc"
  min_port: '54000'
  max_port: '54500'
  <%- else -%>
  template: "basic"
  min_port: '54000'
  max_port: '54500'
  <%- end -%>
script:
  native:
    - '--nodes'
    - '1'
    - '--cpus-per-task'
    - '<%= num_cores %>'
    <%- if num_tasks != "" -%>
    - '--ntasks'
    - '<%= num_tasks %>'
    <%- end -%>
    <%- if num_gpus != "" -%>
    - '--gres'
    - 'gpu:<%= num_gpus %>'
    <%- end -%>
    <%- if memory != "" -%>
    - '--mem'
    - '<%= memory %>'
    <%- end -%>
    <%- if node_type != 'any' -%>
    - '--constraint'
    - '<%= node_type %>'
    <%- end -%>
    <%- if qos != "" -%>
    - '--qos=<%= qos %>'
    <%- end -%>
    <%- if reservation != "" -%>
    - '--reservation'
    - '<%= reservation %>'
    <%- end -%>
