<!--
This file contians the final view that is served to the user
when your app is started!

If your app utilizes VNC, then you should delete this file!
OnDemand will auto-insert logic into your app to work correctly.

Otherwise, you may need to put links and refrences to the instance of the running app.
-->

<% if context.is_vnc == false -%>

<% else -%>
<form action="/rnode/<%= host %>/<%= port %>/login" method="post" target="_blank">
  <input type="hidden" name="password" value="<%= password %>">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-cogs"></i> Connect to Jupyter
  </button>
</form>
<% end -%>
